$primary-theme-color: #80e5ff;
$secondary-navbar-color: #131e34;
$tertiary-color: #8648cd;

@import "../../bulma-0.7.5/bulma.sass";
//@import "../../fontawesome-free-5.9.0-web/scss/icons";

    .navbar-brand{
        padding-top: 10px;
        width: 50%;
        justify-content: center;
    }

    .navbar-menu{
        width: 50%;
        justify-content: center;
    }

    .upper-item{
        margin-right: 45%;
    }
    
    .btn-width{
        width: 120px;
    }
    
    .btn-login{
        background-color: $primary-theme-color;
    }
    
    .secondary-navbar{
        background-color: $secondary-navbar-color;
        justify-content: center;
    }
    
    .left-side{
        background-color: $primary-theme-color;
    }

    .right-side{
        background-color: $tertiary-color;
    }

    .navbar-item{
        color: white;
    }

    .search-box{
        background-color: $secondary-navbar-color;
        border: 0px;
        width: 300px;
    }

    .icon-background{
        height: 50px;
        width: 50px;
        background-color: $secondary-navbar-color;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

    .subtitle{
        color: white;
    }

    .icon-style{
        padding-top:8px; 
        opacity: 1;
        color: white
    }



