div {
    
    .title {
        margin-bottom: 5px
    }

    .offers-btn-section {
        width: 50%; 
        border-color:#808080
    }

    .offers-title-divider {
        width:50px;height:8px;
    }

    .offers-image-section {
        width: 70px;
        height: 70px;
        margin-bottom: 15px
    }

    .offer-p {
        margin-bottom: 30px;
        font-size: 14px
    }

    .popular-btn-section {
        width: 50%; 
        border-color:#808080
    }

    .popular-image-section{
        width: 70px;
        height: 70px;
        margin-bottom: 15px
    }

    .popular-p {
        margin-bottom: 30px;
        font-size: 14px
    }
}

#free-support-background {
    background-image: linear-gradient(to right, #7a62d4, #49c6f4); 
    height: 320px; 
    padding-top: 115px
}

.card-buttons {
    border-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
}



//background-image: linear-gradient(to right, #7a62d4, #49c6f4);