
.items {
    color: whitesmoke;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    font-size:15px;
}

.right-border {
    border-right: 1px solid #313e57;
}

.secondary-navbar {
    background-color: $secondary-navbar-color;
}