
.left-side {
    .icon-background {
        background-color:#348aab
    }
    background-color: $primary-theme-color;
}

.right-side {
    .icon-background {
        background-color:#5f328f
    }
    background-color: $tertiary-color;
}

.search-box {
    background-color: $secondary-navbar-color;
    border: 0px;
    width: 300px;
}

.icon-background {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}

.subtitle {
    color: white;
}

.icon-style {
    padding-top:15px; 
    opacity: 1;
    color: white;
}

.flex-right {
    justify-content: flex-end; 
}

.flex-left {
    justify-content: flex-start;
}

.input{
    &::placeholder{
        color: #66757F;
        font-size: 10px;
    }
}
