#upper-header {
    height: 70px;
    .btn-login {
        background-color: $primary;
        width: 120px;
        color: whitesmoke;
    }

        

    .button{
        width: 80px;
        height: 30px;
        font-size: 11px;
        font-weight: bold;
        &:hover {
            border:1px solid$secondary;
        }
    }
    
    .title {
        color: rgb(54, 52, 52)
    }
}

#lower-header {
    
    .nav-items {
        padding-top: 15px;
        a {
            &:hover {
                background-color: $secondary-navbar-color;
                color: $secondary;
            }
        }
    }

    .is-selected {
        border-bottom: 3px solid $secondary
    }

    background-color: $secondary-navbar-color;
    .items {
        color: whitesmoke;
        margin-top:0px;
        margin-bottom:0px;
        padding-top:0px;
        padding-bottom:0px;
        font-size:15px;
    }
    
    .right-border {
        border-right: 1px solid #313e57;
    }

    input{
        background-color: $secondary-navbar-color;
        border-color: $secondary-navbar-color;
        width: 100%;
    }
        
}



