.login-banner {
    background: url('https://drive.google.com/uc?id=1lfEEGQLrGtaSLDv_aof0ikbKv8yla2Cm')center center;
    background-size:cover;
    input {
        &::placeholder{
            font-size: 16px;
            color: #9b9b9b;
        }   
    }
}

.login-cliparts{
    width: 50px;
    height: 50spx;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: darkgray;
    text-align: center;
    height: 1.5em;
    opacity: 1;
    font-weight: bold;
    &:before {
      content: '';
      background: linear-gradient(to right, transparent, darkgray, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: #363434;
  
      padding: 0 .5em;
      line-height: 1.5em;
      color: #363434;
      background-color: white;
    }
}

.login-social-btn{
    border-radius: 0px;
}

